<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="hu">
<head>
    <title>Delivery details</title>
</head>
<body>
<span th:#{bool} = true></span>
<div>Delivery details: </div>

<!--TODO EDIT using fragments-->
<div th:text="'Delivery id: ' + ${delivery.get().getId()}"></div>
<div th:text="'Ordered by: ' + ${delivery.get().getOrderedBy().getUsername()}"></div>
<div th:text="'Address: ' + (${delivery.get().getOrderedBy().getAddresses().size() != 0} ? ${delivery.get().getOrderedBy().getAddresses().get(0)} : 'null') "></div>
<div th:text="'Restaurant: ' + ${delivery.get().getRestaurant().getName()}"></div>
<div th:text="'Restaurant address: ' + (${delivery.get().getRestaurant().getAddress() != null} ? ${delivery.get().getRestaurant().getAddress().getAddress()} : 'null') "></div>
<div th:text="'Price: ' + ${delivery.get().getPrice()}"></div>
<br>
<a th:href="'/courier/mainCourierSite/'">Back</a>


</body>

</html> 