<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="hu">
<head>
    <title>Title of the document</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${users}" method="post">
    <label for="userName">Username</label>
    <input type="text"  id="userName" th:field="*{userName}" placeholder="UserName">
    <label for="password">Password</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Password">
    <button type="submit" value="submit">Submit</button>
</form>



</body>

</html> 