@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.font-lobster{
    font-family: 'Lobster', cursive;
}
.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}
.bold {
    font-weight: bold;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255,255,229);
}
.link {
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: .5s ease;
}
.link:hover {
    letter-spacing: 0.05rem;
    color:rgb(46, 46, 46);
    text-decoration: none;
}
.link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:rgb(46, 46, 46);
    transition: width .5s;
    margin: 0 auto 0 auto;
}
.link:hover::after {
    width: 100%;
}

#blur-none {
    position: fixed;
    display: block;
    height: 100%;
    width:100%;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    z-index: 20;
    animation: blurnone 1.6s ease;
    animation-fill-mode: forwards;
}
@keyframes blurnone {
    0%{opacity: 1;}
    100%{opacity: 0;display: none;z-index:0}
}








#circle {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    clip-path: ellipse(88% 100% at 100% 0%);
    background: rgb(230,162,87);
    background-image: linear-gradient(90deg, rgb(255,255,229), rgb(255,248,196), rgb(254,235,162), rgb(254,214,118), rgb(254,187,74), rgb(251,154,44));
    z-index:0;
    animation: beuszik 4s ease;
}
@keyframes beuszik {
    0%{clip-path: ellipse(0% 100% at 100% 0%); }
    100%{clip-path: ellipse(88% 100% at 100% 0%); }
}

#circle2 {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    clip-path: ellipse(43% 40% at 100% 100%);
    background: #e6a257;
    background-image: linear-gradient(90deg, #ffffe5, #fff8c4, #feeba2, #fed676, #febb4a, #fb9a2c, #ee7919);
    z-index:1;
    animation: beuszik2 3s ease;

}
@keyframes beuszik2 {
    0%{clip-path: ellipse(0% 40% at 100% 100%);}
    100%{clip-path: ellipse(43% 40% at 100% 100%);}
}

#circle3 {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    clip-path: ellipse(25% 40% at 100% 50%);
    background: #e6a257;
    background-image: linear-gradient(90deg, #fff8c4, #feeba2, #fed676, #febb4a, #fb9a2c);
    z-index:2;
    animation: beuszik3 2s ease;
}
@keyframes beuszik3 {
    0%{clip-path: ellipse(0% 40% at 100% 50%);}
    100%{clip-path: ellipse(25% 40% at 100% 50%);}
}

#addrestaurant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 400px;
    height:500px;
    z-index: 5;
    border-radius: 30px;
}
#cim {
    text-align: center;
    margin-top: 10px;
    color: black;
}
#nev, #address_ {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}
#name, #address {
    width: 100%;
}



#welcome-image{
    display: block;
    margin: 0 auto 0 auto;
    margin-top: 15px;
    height: 150px;
    filter: drop-shadow(2px 2px 2px #222);
    transition: .5s ease;
    animation: tolittleshadow 1s ease;
    animation-delay: .05s;
    z-index:20;
}
@keyframes tolittleshadow {
    0%{filter: drop-shadow(2px 2px 10px #222);}
    100%{filter: drop-shadow(2px 2px 2px #222);}
}
.icons {
    display: inline;
    width:20px;
}

.add-button {
    position: absolute;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    transition: .5s ease;
    font-size:150%;
}
.add-button:hover {
    letter-spacing: 0.05rem;
}

.add-button::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:black;
    transition: width .5s;
    margin: 0 auto 0 auto;
}
.add-button:hover::after {
    width: 100%;
}

h2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}