<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="hu">
<head>
    <title>Title of the document</title>
</head>
<body>
<form action="#" th:action="@{/register}"  method="post">
    <label for="userName">Username</label>
    <input type="text"  id="userName" name="userName" placeholder="UserName">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password">

    <label for="customer">Customer</label><input type="radio" id="customer" name="authority" value="customer">
    <label for="manager">Manager</label><input type="radio" id="manager" name="authority" value="manager">
    <label for="admin">Admin</label><input type="radio" id="admin" name="authority" value="admin">

    <button type="submit" value="submit">Submit</button>
</form>

</body>

</html> 