<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="hu">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>

<table>
    <tr>
        <th>NAME</th>
        <th>PASSWORD</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.getUserName()}">
            <a th:href="'/woltuser/' + ${user.getUserName()}">
                <div style="height:100%;width:100%">
                </div>
            </a>
        </td>
        <td th:text="${user.getPassword()}">
        </td>
    </tr>
</table>

<div th:each="user : ${userList}">
    <a th:href="'/woltuser/' + ${user.getUserName()}"><div th:text="${user.getUserName()}"></div></a>
</div>

</body>
</html>