<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="hu">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>

<table>
    <tr>
        <th>NAME</th>
        <th>PASSWORD</th>
        <th>Addresses</th>
        <th>Enabled</th>
    </tr>
    <tr>
        <td th:text="${woltUser.get().getUsername()}"></td>
        <td th:text="${woltUser.get().getPassword()}"></td>
        <td th:text="${woltUser.get().getAddresses()}"></td>
        <td th:text="${woltUser.get().getEnabled()}"></td>
    </tr>
</table>
</body>
</html>